<ion-header>
    <ion-toolbar>
        <ion-title>
            SMS Retriever
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-label>one-time-code</ion-label>
        <input #oneTimeCode id="single-factor-code-text-field" autocomplete="one-time-code"/>
    </ion-item>

    <ion-item>
        <ion-label>ng-otp-input</ion-label>
        <ng-otp-input (onInputChange)="onOtpChange($event)" [config]="{ length:4, disableAutoFocus: true }"></ng-otp-input>
    </ion-item>

    <ion-item>
        <ion-button *ngIf="isAndroid" (click)="appGetHashString()">
            <ion-label>get app hash string</ion-label>
        </ion-button>
    </ion-item>

    <ion-item *ngIf="hashString">
        <ion-label>hash string</ion-label>
        <ion-input [readonly]="true" value="{{hashString}}"></ion-input>
    </ion-item>

    <ion-item *ngIf="isAndroid">
        <ion-label>retriever started: {{isRetrieverStarted | async}}</ion-label>
    </ion-item>

    <ion-item *ngIf="isAndroid">
        <ion-button (click)="appStartWatch()" disabled="{{isRetrieverStarted | async}}">
            <ion-label>start watch</ion-label>
        </ion-button>
    </ion-item>

    <ion-item *ngIf="isAndroid">
        <ion-button color="danger" (click)="appStopWatch()" disabled="{{!(isRetrieverStarted | async)}}">
            <ion-label>stop watch</ion-label>
        </ion-button>
    </ion-item>

    <ion-item *ngIf="isAndroid">
        <ion-button color="warning" (click)="appGetPhoneNumber()">
            <ion-label>get phone number</ion-label>
        </ion-button>
    </ion-item>

    <ion-item *ngIf="phoneNumber">
        <ion-label>phone number</ion-label>
        <ion-input [readonly]="true" value="{{phoneNumber}}"></ion-input>
    </ion-item>

</ion-content>
