<ion-header>
    <ion-toolbar>
        <ion-title>
            Ionic Blank
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-label>one-time-code</ion-label>
<!--    <input id="single-factor-code-text-field" autocomplete="one-time-code"/>-->
    <ng-otp-input  (onInputChange)="onOtpChange($event)"  [config]="{length:4, allowNumbersOnly: true}"></ng-otp-input>

    <ion-button *ngIf="isAndroid" (click)="appGetHashString()">
        <ion-label>get app hash string</ion-label>
        <input value="{{hashString}}">
    </ion-button>

    <ion-button *ngIf="isAndroid" (click)="appStartWatch()">
        <ion-label>start watch</ion-label>
    </ion-button>

</ion-content>
